<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Web Service API Documentation">
    <meta name="author" content="Carlos Martinez">

    <title>API Documentation for WebServiceApp (Fibonacci and Palindrome)</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Include the AngularJS library -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>

</head>

<body ng-app="WebServiceApp">

<div id="wrapper" ng-controller="MainController">

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <h1>Fibonacci and Palindrome API</h1>
                <h2>API Documentation:</h2>
                <div class="col-lg-12" ng-repeat="app in apps">
                    <h3>{{app.title}}</h3>
                    <dl class="dl-horizontal">
                        <dt><strong>Description</strong></dt>
                        <dd>{{app.description }}</dd>
                        <dt>Resource URL</dt>
                        <dd><code>{{ app.URL }}</code></dd>
                        <dt><strong>Response format</strong></dt>
                        <dd>{{ app.response_format }}</dd>
                        <dt><strong>Parameters</strong></dt>
                        <dd>{{ app.parameters }}</dd>
                        <dt><strong>Example Request</strong></dt>
                        <dd><code>{{ app.example_req }}</code></dd>
                        <dt><strong>Example Response</strong></dt>
                        <dd><kbd>{{ app.example_res }}</kbd></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <!-- /page-content -->

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- Modules -->
<script src="js/FrontEndControllers/angularApp.js"></script>
<!-- Controllers -->
<script src="js/FrontEndControllers/MainController.js"></script>

</body>

</html>